@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;600;700&display=swap');
body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
}
a {
	text-decoration: none;
}
#section-margin {
	margin-bottom: 50px;
}
.main-area {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.logo-area h1 {
	font-size: 24px;
	font-weight: bold;
	color: #3a3a3a;
}
nav ul {
	display: flex;
	justify-content: flex-end;
}
nav ul li {
	list-style: none;
	margin-right: 29px;
}
nav ul li a {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: #3a3a3a;
}
main,
.top-header-area {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* middle header css */
.container {
	width: 1200px;
	padding: 10px;
}
.top-middle-area {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.top-middle-left h1 {
	font-size: 52px;
	color: #3a3a3a;
}
.top-middle-left p {
	font-size: 16px;
	color: #3a3a3a;
	font-weight: 700;
	margin-bottom: 36px;
}
a.button {
	background: #e02c6d;
	border-radius: 20px;
	color: #fff;
	padding: 10px 40px;
	transition: all 0.5s;
}
.button:hover {
	background: #fff;
	border: 2px solid #e02c6d;
	color: #3a3a3a;
}
i.fas.fa-arrow-right {
	margin-left: 11px;
}
.top-middle-right img {
	width: 70%;
	float: right;
}
/* top bottom area css */
.top-bottom-area {
	margin-top: 150px;
}
.logos {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px;
	border-bottom: 1px solid lightgray;
	border-top: 1px solid lightgray;
	padding: 25px 0px;
}
.logo {
	margin-right: 50px;
}
.logo img {
	width: 70%;
}
/* our collection area css */
.our-collection-area {
	display: flex;
	justify-content: center;
	margin-top: 100px;
	/* width: 1047px; */
}
.our-collection {
	width: 1047px;
}
.our-collection h1 {
	text-align: center;
	font-weight: 700;
	font-size: 28px;
	margin-bottom: 50px;
	color: #3a3a3a;
}
.our-collection-box {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 30px;
	grid-column-gap: 30px;
	align-items: center;
	justify-content: center;
}
.single-box {
	width: 329px;
	background: rgb(255, 255, 255);
	padding: 18px;
	box-shadow: grey 0px 1px 12px 0px;
	border-radius: 6px;
}

.single-box img {
	width: 100%;
}
.single-box h2 {
	font-size: 28px;
	font-weight: 500;
	color: #18191f;
}
.single-box h3 {
	font-size: 24px;
	font-weight: normal;
	color: #000000;
}
span.rating-icon {
	font-size: 13px;
	color: orange;
	margin-right: 11px;
}
.single-box .rting-point {
	font-size: 19px;
	font-weight: bold;
	color: #787885;
	font-family: 'Inter', sans-serif;
}

a.see-more-btn {
	color: #e02c6d;
	float: right;
	display: block;
	font-weight: bold;
	font-size: 16px;
	margin-top: 30px;
}

/* contact us area css */
.contact-us {
	text-align: center;
}
.contact-us h1 {
	font-family: 'Poppins';
	font-weight: bold;
	font-size: 40px;
	color: #3a3a3a;
	margin-bottom: 47px;
}
.contact-us input {
	padding: 10px 20px;
	border: 1px solid lightgray;
	border-radius: 5px;
	font-family: 'Poppins';
	font-weight: bold;
	width: 460px;
}
textarea#messege {
	font-family: 'Poppins';
	font-size: 17px;
	border: 1px solid lightgray;
	border-radius: 5px;
	width: 460px;
	padding: 20px;
	font-weight: bold;
}
#submit-btn {
	margin: 35px;
}
/* footer area starts css */
footer.footer-area {
	background: #0a0826;
	width: 100%;
}
.footer-text {
	color: #fff;
	text-align: center;
}
.footer {
	margin: 50px 0px;
}
.footer-text h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: -8px;
}
.footer-text p {
	font-size: 14px;
	font-weight: bold;
	color: #d9dbe1;
	line-height: 26px;
}
.social-icon {
	text-align: center;
	color: #fff;
	display: flex;
	justify-content: center;
	margin-top: 23px;
}
.social-icon i {
	/* margin-right: 10px; */
	margin-top: 11px;
	font-size: 20px;
}
.icon {
	width: 40px;
	height: 40px;
	background: #22213c;
	margin-right: 15px;
	border-radius: 100%;
}
